.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3574f3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gamesContainer {

  margin-left: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

.parentHeader {
  display: flex;
  background-color: rgb(205, 227, 243);
  flex-direction: row;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 10px;
  height: 40px;
  gap: 15px;
}

.header {
  display: flex;
  gap: 35px;


}

.BeverageContainer {
  background-color: #afb2ba;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
  height: max-content;
}

.productName {
  background-color: rgb(236, 203, 157);
  font-style: italic;
  font-size: large;
  font-weight: 400;
  border-radius: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 25px;
  word-wrap: break-word;
  max-width: 150px;
  justify-content: center;
  display: flex;
}



.coffeeImage {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 180px;
  min-height: 180px;
  min-width: 180px;
  max-height: 180px;
  background-color: #f4f9f9;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 35px;
}

.beerImage {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  max-height: 180px;
  max-width: 150px;
  min-height: 180px;
  min-width: 150px;
  background-color: rgb(35, 23, 23);
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 25px;
}

.wineImage {
  padding-bottom: 5px;
  padding-top: 5px;
  max-width: 130px;
  min-height: 180px;
  min-width: 130px;
  max-height: 180px;
  background-color: #4a664e;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;

}

.memoFun {
  margin-left: 15px;
  margin-top: 15px;
}

.bookName {
  background-color: rgb(190, 159, 113);
  font-weight: 400;
  border-radius: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 25px;
  word-wrap: break-word;
  max-width: 600px;
  margin-top: 50px;



}